
body{background-color: lightpink;}

h1{text-align: center;
font-size:xx-large;}
    
h2{text-align: center;}
         
h3{text-align: center;}

p {text-align: center;}

#Conteneur {height: 8vh;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.element {text-align: center;
    vertical-align: middle;
    line-height: 20px;}
